<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLayoutFun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>092BB4EB1CB8A4990058F4B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>092BB5041CB8A49A0058F4B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>092BB50F1CB8A49A0058F4B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
